html, body, div, img, li, form, fieldset, input, textarea, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, pre, table, blockquote, hr, td, tr, table {
    margin: 0;
    padding: 0;
}

a:link, a:visited, a:hover, a:active, a:focus {
    text-decoration: none;
}

body {
    background: #FBFBFB;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}

ul {
    list-style: none outside none;
}

.bold {
    font-weight: bold;
}

/***Fenetre login***/

.login {
    width: 320px;
    padding: 114px 0 0;
    margin: auto;
}


.login form {
    margin-left: 8px;
    padding: 26px 24px;
    font-weight: normal;
    background: white;
    border: 1px solid #E5E5E5;
    -moz-box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
    -webkit-box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
    box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
}


/*input[type=submit] {
    height: auto;
    font-weight: bold;
    padding: 6px 10px;
    cursor: pointer;
    color: #fff;
    text-shadow: 0 -1px 1px #64799e;
    background: #a5b8da;
    background: -moz-linear-gradient(top, #a5b8da 0%, #7089b3 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a5b8da), to(#7089b3));
    border: 1px solid #5c6f91;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: inset 0 1px 0 0 #aec3e5;
    -webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
    box-shadow: inset 0 1px 0 0 #aec3e5;
}*/
#manageuser tr td {
    text-align: center;
    vertical-align: middle;
}
input[type=submit] , input[type=reset], input[type=button] {
    position: relative;
    display: inline-block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    margin-right: 16px;
    height: 27px;
    line-height: 27px;
    min-width: 54px;
    outline: 0;
    padding: 0 8px;
}

.login input[type="text"], .login input[type="password"], .login form {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
}

.login form .input {
    font-weight: 200;
    font-size: 20px;
    line-height: 1;
    width: 100%;
    padding: 3px;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom: 16px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: none;
    -moz-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
    -webkit-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
    box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
}

.login label {
    color: #777;
    font-size: 14px;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}

.login input[type="text"]:focus, .login input[type="password"]:focus, #search:focus, .formulaire input[type=text]:hover, .formulaire input[type=text]:focus {
    border: 1px solid #4D90FE;
    outline: none; /*Pour enlever la bordur automatique jaune de chrome*/
}


/****Menu gauche****/
#menu_gauche {
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 0;
    width: 20%;
    background-color: #F3F3F3;
    border-right: 1px solid #DDD;
    /*barre de defilement apparait si le contenu depasse (? voir si ca sert)*/
    /*    overflow: auto;*/
}


#search {
    background: white url('./img/search.png') 6px 6px no-repeat;
    font-size: 14px;
    height: 29px;
/*    width: 100%;*/
    padding: 4px 0 4px 30px;
    margin: 5px 0 5px 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #222;
}

.add {
    position: absolute;
    height: 19px;
    width: 23px;
    background: white url('./img/add.png') 5px 5px no-repeat;
    border-bottom: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    border-top: 1px solid silver;
    padding: 4px 4px 4px 0px;
    margin: 5px 5px 5px 0;
}


.add:hover {
    background-position: 5px -19px;
}

:-webkit-input-placeholder {
    color:    #999;
}
:-moz-placeholder, #search:-moz-placeholder {
    color:    #999;
}

/***Header de la page***/
#page_header {
    width: 80%;
    position: absolute;
    left: 20%;
    right: 0;
    background: #F3F3F3;
    border-bottom: 1px solid #DDD;
}

#page_header_navigation {
    padding: 10px 0 0 20px;
}



#page_header a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #F77F00;
    text-decoration: none;
    cursor: pointer;
}



#page_header .page_header_link {
    font-weight: bold;
    line-height: 20px;
    margin: 0 1px;
    padding: 0 10px;
    display: block;
    float: left;
}

#page_header .page_header_link.active {
    border: 1px solid #DDD;
    border-bottom: 1px solid white;
    background: white;
    color: #333;
    margin: 0 0 -1px 0;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

#page_header .page_header_link {
    font-weight: bold;
    line-height: 20px;
    margin: 0 1px;
    padding: 0 10px;
    display: block;
    float: left;
}

.label {
    font-weight: bold;
    line-height: 26px;
    padding: 0 5px;
}


/***Side Foyer***/
#side_individu {
    position: absolute;
    bottom: 0;
    top: 38px;
    right: 2px;
    left: 4px;
    /*barre de defilement apparait si le contenu depasse (? voir si ca sert)*/
    overflow: auto;
}

#side_individu ul {

    background-color: white;
    font-family: "Lucida grande", Tahoma, Verdana, Arial, Sans-serif;
    font-size: 11px;
    border: 1px solid #9D9D9D;
}

#side_individu li {
    padding-bottom: 2px;
    border-bottom: 1px dotted #9D9D9D;
}

#side_individu li:last-child {
    border-bottom: none;
}

#side_individu a {
    display: block;
    color: #222;
}


#side_individu li:hover {
    /*    position: relative;
        left: 2px;*/
    /*    width: 101%;*/

    background-color: white;
}

#side_individu .current {
    background-color: #2D2D2D;
    background-image: -ms-linear-gradient(bottom, #2D2D2D, #5e5e5e 5px);
    background-image: -moz-linear-gradient(bottom, #5e5e5e, #2D2D2D 5px);
    background-image: -o-linear-gradient(bottom, #2D2D2D, #5e5e5e 5px);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#2D2D2D), to(#5e5e5e));
    background-image: -webkit-linear-gradient(bottom, #5e5e5e, #2D2D2D 5px);
    background-image: linear-gradient(bottom, #2D2D2D, #5e5e5e 5px);

    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
}

#side_individu .current a {
    color: #DDD;
    padding-left: 20px;
}

.nb_individu {
    padding-left: 3px;
    font-style: italic;
}

.pair {
    background-color: #e2e9f1;
}

.impair {
    background-color: #ebebeb;
}

/***CONTENU***/
#contenu_wrapper {
    position: absolute;
    top: 68px;
    bottom : 0;
    left: 20%;
    overflow: auto;
}

#contenu {
    padding: 20px;
}

/***FIELDSET***/
fieldset {
 padding:0 20px 20px 20px;
 margin-bottom:10px;
 border:1px solid #DCDCDC;
 }
legend {
 color: #F77F00;
 font-size: 12px;
 }
 
.messageJS {
    display: none;
    background-color: white;
    border: 1px solid #CCC;
    color: black;
    outline: 0 none;
    padding: 10px;
    position: absolute;
    top: 30%;
    left: 25%;
    z-index: 1001;
    -moz-box-shadow: 0 1px 5px #ccc;
    -ms-filter: "progid: DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#ccc')";
    -o-box-shadow: 0 1px 5px #ccc;
    -webkit-box-shadow: 0 1px 5px #ccc;
}

.deconnexion {
    border-top: 1px solid #E5E5E5;
}